<% provide(:title, @user.username) %>
<h1><%= @user.username %></h1>
<p>
	<ul>
		<li><%= @user.id %></li>		
		<li><%= @user.username %></li>
		<li><%= @user.first %></li>
		<li><%= @user.last %></li>
		<li><%= @user.email %></li>				
	</ul>
</p>